body{
    background-color: rgb(179, 176, 176);
    color: #333;
    background-image: url("img/1.jpg");
    background-position: cover;
}

.content{
    border : 5px solid #fafafa;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "promotion promotion"
                "sell why";
}

.tengah{
    height: 20px;
    width: 20px;
    background-color: bisque;
    padding: 9px;
}

.promotion{
    grid-area: promotion;
    padding:30px;
    background-color: #fafafa;
}

.sell{
    grid-area: sell;
    padding:30px;
}

.why{
    grid-area: why;
    padding:30px;
}