@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    background-color: rgb(179, 176, 176);
    color: #333;
    font-family: 'Poppins', sans-serif;
    background-image: url("img/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "promotion promotion"
    "sell why";
    border-radius: 40px;
}

/* promotion */
.promotion{
    grid-area: promotion;
    padding:30px;
    background-color: #fde03c;
}

.promotion>.header{
    font-weight: 500;
    font-size: 20px;
    color: #393447;
}

.second{
    font-weight: 500;
    margin-top: 10px;
    color: #693c2b;
}

.isi{
    color: #444;
}

/* sell */

.sell{
    grid-area: sell;
    padding:30px;
    color: #fafafa;
    background-color: #393447;
}

.sell>.harga>p{
    font-size: 40px;
    font-weight: 500;
    margin-right: 10px;
}

.sell>.harga>.per{
    color: #a5a5a5;
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;

}

.sell>.harga{
    font-weight: 500;
    margin-top: -50px;
    /* float: inline-start; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header-sell{
    font-weight: 500;
    font-size: 20px;
    color: #fafafa;
}

.access{
    margin-top: -40px;
    color: #c7c7c7;
}

.button{
    padding: 10px;
    background-color: #fde03c;
    color: #393447;
    border-radius: 4px;
}

/* why */

.why{
    color:#fafafa;
    grid-area: why;
    background-color: #9d9ea0;
    padding:30px;
}

.alasan{
    color: #e6e6e6;
}

@media (max-width: 900px) {
    .content{
        margin-top: 200px;
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:    "promotion "
                                "sell "
                                "why";}
  }
  